extends layout

block content
  h1 Gravador Mídia SIP/RTP
  p Bem vindo ao cliente Web do gravador SIP/RTP
  h3
    a(href='/records/') Vizualizar Gravações
  h3
    a(href='/ports/') Vizualizar Portas